# Ignore node modules and Next.js build artifacts
/node_modules/
/.next/

# Ignore TypeScript build info
*.tsbuildinfo

# Env files
.env

# Ignore nested Next.js build in apps/web
/apps/web/.next/

# Ignore temporary backup folder
/temp_backup/
